<div class="header">
                <div class="header-left">
                    <img src="__PUBLIC__/image/qwdfbnmjytr7.jpg">
                </div>
                <div class="header-right">
                    <ul class="header-right-ul">
                        <li>
                            <a href="{:U('Home/Index/index')}">首页</a>
                            <i>/</i>
                        </li>
                        <li>
                            <a href="{:U('Home/Stock/index')}">现货查询</a>
                            <i>/</i>
                        </li>
                        <li>
                            <a href="{:U('Home/Product/index')}">产品中心</a>
                            <i>/</i>
                        </li>
                        <li>
                            <a href="{:U('Home/Information/index')}">资讯</a>
                            <i>/</i>
                        </li>
                        <li>
                            <a href="{:U('Home/Knowledge/index')}">钢管知识</a>
                            <i>/</i>
                        </li>
                         <li>
                            <a href="{:U('Home/Logistics/index')}">货运物流</a>
                            <i>/</i>
                        </li>
                        <li>
                            <a href="{:U('Home/About/index')}">关于我们</a>
                        </li>
                    </ul>
                </div>
            </div>
