        <include file="Public:head" />
        <link rel="stylesheet" href="__PUBLIC__/stock/css/index.css">
        </head>
        <body>
        <div id="content">
        	<include file="Public:nav" />
            <div class="main">
            	<div class="main-datu">
            		<img src="__PUBLIC__/stock/img/taili.gif">
            	</div>
            	<div class="main-sousuo">
            		<form class="layui-form">
	            			<div class="main-sousuo-bottom">
	            				<span>材质</span>
							<div class="layui-input-inline">
							        <select name="modules" lay-verify="required" lay-search="">
							          <option value="">请输入或选择材质</option>
                                                                                            <foreach name="materData" item="vo" >
                                                                                                          <option value="{$key}">{$vo}</option>
                                                                                            </foreach>
							        </select>
							      </div>
							      <span>规格</span>
							        <div class="layui-input-inline">
                                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入外径" autocomplete="off" class="layui-input">
                                </div>
							       <span>X</span>
							        <div class="layui-input-inline" style="margin-right: 20px">
                                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入壁厚" autocomplete="off" class="layui-input">
                                </div>
                                 <button class="layui-btn layui-btn-danger">立即搜索</button>
	            			</div>
		</form>
                        <div class="bmyx">因版面有限，未列规格请电询，非标尺规格可加工定做</div>
            	</div>
            	<div class="layui-form">
                   <table class="layui-table">
                        <colgroup>
                          <col width="150">
                          <col width="150">
                          <col width="150">
                          <col>
                        </colgroup>
                        <thead>
                          <tr>
                            <th>品种</th>
                            <th>材质</th>
                            <th>规格</th>
                            <th>钢厂</th>
                            <th>重量/数量</th>
                            <th>供应商</th>
                            <th>联系方式</th>
                            <th>仓库区</th>
                            <th>更新时间</th>
                          </tr>
                        </thead>
                        <tbody>
                        <foreach name="list" item="vo" >
                          <tr>
                            <td>{$vo.varieties}</td>
                            <td>{$vo.material}</td>
                            <td>{$vo.specifications}</td>
                            <td>{$vo.field}</td>
                             <td>{$vo.weight}</td>
                             <td>{$vo.supplier}</td>
                            <td>{$vo.contact}</td>
                            <td>{$vo.warehouse}</td>
                            <td>{$vo.time}</td>
                          </tr>
                          </foreach>
                        </tbody>
                      </table>
                      <div class="result page">{$page}</div>
                </div>
            <include file="Public:footer" />
        </div>
        <script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
		<script>
		layui.use(['form', 'layedit', 'laydate'], function(){
		  var form = layui.form
		  ,layer = layui.layer
		  ,layedit = layui.layedit
		  ,laydate = layui.laydate;

		  //日期
		  laydate.render({
		    elem: '#date'
		  });
		  laydate.render({
		    elem: '#date1'
		  });

		  //创建一个编辑器
		  var editIndex = layedit.build('LAY_demo_editor');

		  //自定义验证规则
		  form.verify({
		    title: function(value){
		      if(value.length < 5){
		        return '标题至少得5个字符啊';
		      }
		    }
		    ,pass: [/(.+){6,12}$/, '密码必须6到12位']
		    ,content: function(value){
		      layedit.sync(editIndex);
		    }
		  });

		  //监听指定开关
		  form.on('switch(switchTest)', function(data){
		    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
		      offset: '6px'
		    });
		    layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
		  });

		  //监听提交
		  form.on('submit(demo1)', function(data){
		    layer.alert(JSON.stringify(data.field), {
		      title: '最终的提交信息'
		    })
		    return false;
		  });


		});
		</script>

</body>
</html>

