.container{
    width:900px;
    margin:0 auto;
}
.main{
padding:0px 0px 40px 0px;
}
.main1{
    width:1160px;
    height:30px;
    padding:20px;
    line-height: 30px;
    background: #ecf0f1;
    font-family:"Microsoft YaHei";
    font-size: 16px;
    font-weight: 900;
}
.main2{
    width:1160px;
    height:30px;
    padding:20px;
    line-height: 30px;
    font-family:"Microsoft YaHei";
    font-size: 16px;
    font-weight: 600;
    color :#6B6B6B;

}
.main3{
     width:1160px;
     height:30px;
     padding:20px;
    line-height: 30px;
    background: #ecf0f1;
    font-family:"Microsoft YaHei";
    font-size: 16px;
    font-weight: 900;
}
.main4{
    width:1140px;
    height:180px;
    padding:30px;
    line-height: 23px;
    font-family:"Microsoft YaHei";
    font-size: 15px;
    font-weight: 600;
    color:#6B6B6B;
}
.tow1{
    width:150px;
    height:180px;
    float:left;
}
.main5{
    width:1160px;
    height:30px;
      padding:20px;
      line-height: 30px;
      background: #ecf0f1;
       font-family:"Microsoft YaHei";
    font-size: 16px;
    font-weight: 900;
}
.main6{
    width:1140px;
    height:70px;
    padding:30px;
    line-height: 23px;
    font-family:"Microsoft YaHei";
    font-size: 15px;
    font-weight: 600;
    color: #6B6B6B;
}
.tow2{
    width:200px;
    height:70px;
    float:left;
}
.main7{
    width:1160px;
    height:30px;
    padding:20px;
    background: #ecf0f1;
     font-family:"Microsoft YaHei";
    font-size: 16px;
    font-weight: 900;
}
