        <include file="Public:head" />
        <link rel="stylesheet" href="__PUBLIC__/product/css/index.css">
        </head>
        <body>
        <div id="content">
        	<include file="Public:nav" />
            <div class="main">
            <div class="main-img"><img src="__PUBLIC__/product/img/product.gif"></div>
            <div class="main-big">
            <foreach name="list" item="vo" >
                <div class="main-pro">
                <input type="hidden" value="{$vo.id}">
                      <a href="{:U('Home/product/pro',array('id'=>$vo['id']))}"><h2>{$vo.title} </h2></a>
                      <p><span>材质:</span>{$vo.caizhi}</p>
                      <p><span>规格:</span>{$vo.guige}</p>
                      <p><span>钢厂:</span>{$vo.gangchang}</p>
                      <p><span>发布时间:</span>{$vo.time}</p>
                      <p><span>联系人:</span>{$vo.caizhi}</p>
                      <p><span>联系电话:</span>{$vo.caizhi}</p>
                      <a href="{:U('Home/product/pro',array('id'=>$vo['id']))}"><c>产看详情</c></a>
                </div>
                </foreach>
              </div>
              <div class="result page">{$page}</div>
        </div>
        <include file="Public:footer" />

        <script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>


</body>
</html>

