<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qq/css/fengye.css">
</head>
<body>
<div class="container">
    <div class="main">
        <div class="main3">系统信息</div>
        <div class="main4">
            <div class="tow1">操作环境<br>运行环境<br>PHP版本<br>PHP运行方式<br> MYSQL版本<br>上传附件限制<br>执行时间限制<br>剩余空间</div>
            <div class="tow1">
            WINNT<br>microsoft-lls/7.5<br>5.4.45<br>cgi-fcgi<br>5.5.53<br>2M<br>30s<br>26522.77M
            </div>
        </div>
        <div class="main5">发起团队</div>
        <div class="main6">
            <div class="tow2">核心开发者<br>团队成员<br>联系邮箱</div>
            <div class="tow2">千行创想网络<br>千行创想网络<br>1814702679@qq.com</div>
        </div>
          </div>
        <div class="main5">贡献者</div>
        <div class="main6">
            <div class="tow2">核心开发者：Zero</div>
        </div>
</div>

</body>
</html>
