#content{
    margin: 0 auto;
    width: 1300px;
}
.header{
    height: 85px;
}
.header-left{
    padding-left: 100px;
    float: left;
}
.header-right-ul li{
    float: left;
    height: 85px;
    line-height: 85px;
    font-size: 16px;
    font-family: tahoma, arial, "微软雅黑";
    list-style-type:none;
}
.header-right-ul li a{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-decoration:none;
    color:rgb(102, 102, 102);
}
.header-right-ul li a:hover,.header-right-ul li{
    color: red;
}
.header-right-ul li i{
    color: rgb(85, 85, 85);
    padding: 0 15px;
}
.header-right{
    padding-right: 100px;
    float: right;
}
