<include file="Public:head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/information/css/nprogress.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/information/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/information/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/information/images/icon.png">
<link rel="shortcut icon" href="__PUBLIC__/information/images/favicon.ico">
<script src="__PUBLIC__/information/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/information/js/nprogress.js"></script>
<script src="__PUBLIC__/information/js/jquery.lazyload.min.js"></script>

</head>
<body class="user-select single">
<header class="header">
<include file="Public:nav" />
</header>
<section class="container">
<div class="content-wrap">
<div class="content">
  <header class="article-header">
	<h1 class="article-title">关于我们</h1>
	<div class="article-meta"> <span class="item article-meta-time">
	  <time class="time" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="发表时间：{$data.time}"><i class="glyphicon glyphicon-time"></i> </time>
	  </span> <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="联系人：{$data.lianxiren}"><i class="glyphicon glyphicon-globe"></i> </span> </div>
  </header>
  <article class="article-content">
	{$data.introduction}
	<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>

		  <script>                  window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=0.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
  </article>

</div>
</div>
<aside class="sidebar">
<div class="fixed">
  <div class="widget widget-tabs" style="height: 500px;">
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" draggable="false">联系方式</a></li>

	</ul>
	<div class="tab-content" style="height: 500px;">
	  <div role="tabpanel" class="tab-pane contact active" id="notice"  style="height: 500px;">
		<h2>联系人:
			  {$data.name}
		  </h2>
		  <h2>手机:
		  <span id="sitetime"> {$data.phone} </span></h2>
            <h2>电话:
          <span id="sitetime"> {$data.qq} </span></h2>
            <h2>传真:
          <span id="sitetime"> {$data.wetch} </span></h2>
            <h2>地址:
          <span id="sitetime"> {$data.address} </span></h2>
	  </div>

	</div>
  </div>

</div>



</aside>
</section>
 <include file="Public:footer" />
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.ias.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
