#content{
    width:1200PX;
    height: 400px;
    background: red;
}
.header-left{
    float: left;
}
.header-right-ul li{
    float: left;
    line-height: 30px;
    font-size: 16px;
    list-style-type:none;
}
.header-right{
    float: right;
}
